.box {
    padding: 10px 40px;
}

.button{
    margin-bottom: 10px;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.card{
    display: flex;
    gap: 15px;
}

.subtitle{
    font-size: 20px;
    font-weight: 600;
    color: orange;
}

.info::before,
.info::after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: gray;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}